<div style="display: flex;margin: 0rem 2rem;padding: 1rem 2rem;justify-content: space-evenly;padding-top: 2rem;">
    <div class="mai" style="font-family: system-ui;font-style: normal;font-size: 25px;color: #fe424d;padding-right: 1rem;">
        <div><b>SHE SHARE</b></div>
        <div style="font-family: system-ui;"><b>Vacation Rentals</b></div>
    </div>
    <div class="mainn" style="display: flex ;flex-direction: column;gap: 8px;">
        <div><b>About Us</b></div>
        <div>careers</div>
        <div>Personalized services</div>
        <div>Blog</div>


    </div>
    <div class="support"  style="display: flex ;flex-direction: column;gap: 8px;" >
        <div><b>SUPPORT</b></div>
        <div>FAQ's</div>
        <div>Cancellation Policy</div>
        

    </div>
    <div class="host"  style="display: flex ;flex-direction: column;gap: 8px;" >
        <div><b>Become A Host</b></div>
        <div>Hosting Resources</div>
        <div>Hosting Responsibilty</div>
       

    </div>
    <div class="termss"  style="display: flex ;flex-direction: column;gap: 8px;" >
        <div><b>TERMS AND PRIVACY</b></div>
        <div>Terms And Conditions</div>
        <div>Privacy Policy</div>
        
        
    </div>
</div>