<% layout("/layout/boilerplate") %>


<form id="listingForm" class="needs-validation">
    <div class="row">
        <p class="h2" style="text-align: center; text-decoration: underline;">Find a Room</p>
        <div class="col-8 offset-2">
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="location" id="locationInput" placeholder="Enter location" class="form-control" type="text" required>
                <div class="invalid-feedback">Please enter a location</div>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" name="listing[gender]" class="form-select" required>
                    <option value="" disabled selected>Select gender</option>
                    <option value="female">&#9792; Female</option> 
                    <option value="male">&#9794; Male</option>     
                </select>
                <div class="invalid-feedback">Please select a gender</div>
            </div>
            <br>
            <div class="login-button-container">
                <button id="submitBtn" type="submit" class="btn btn-primary">Find Rooms</button>
            </div>
        </div>
    </div>
</form>
<script>
    


    
document.addEventListener('DOMContentLoaded', function() {
    
    document.getElementById('listingForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        
        const location = document.getElementById('locationInput').value;

        try {
            

            
            const response = await fetch('/listings/search-listings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ location })
            });

            if (response.ok) {
                const listings = await response.text(); 
                document.body.innerHTML = listings;
            } else {
                console.error('Failed to fetch listings');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
});
document.getElementById("listingForm").addEventListener("submit", function(event) {
        var selectedGender = document.getElementById("gender").value;
        if (selectedGender !== "female") {
            event.preventDefault();
            alert("Only females are allowed"); 
            window.location.replace("/listings/findhome");
            
        }
    });
    
</script>