<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Bookings</title>
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .card p {
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Owner Bookings</h1>
    <ul>
        <% ownerBookings.forEach((booking) => { %>
            <li class="card">
                <% if (booking.listingId) { %>
                    <p>Listing ID: <%= booking.listingId._id %></p>
                    <img src="<%= booking.listingId.image.url %>" alt="Listing Image">
                <% }   %>
               
            </li>
        <% }); %>
    </ul>
</body>
</html>
